extends layout

block content
	section(class="full-height" id="main-content")
		div(class="data")
			
			include menu.jade

			br
			div(class="col-md-5 center-block no-float")
				div(class="panel panel-default")
					div(class="panel-heading")
						h3(class="panel-title") Let's add a book!
					div(class="panel-body") 
						form
							div(class="form-group")
								label(for="exampleInputEmail1") Title
								input(type="text" class="form-control" id="exampleInputEmail1")

							div(class="form-group")
								label Description
								textarea(class="form-control" rows="3")

							button(type="submit" class="btn btn-default") Submit

			
			