extends layout

block content
	section(class="full-height text-center" id="main-content")
		div(class="data")
			div(class="col-md-3 center-block no-float top-space")
				
				nav
					a(href="/")
						img(src="images/books.png" class="animated" width="40")
					a(href="/list" class="right-space") List
					a(href="/add" class="right-space") Add book
					a(href="/about" class="right-space") About

				robert