extends layout

block content
	section(class="full-height" id="main-content")
		div(class="data")
			
			include menu.jade

			br
			div(class="col-md-5 center-block no-float")
				div(class="panel panel-default")
					div(class="panel-heading")
						h3(class="panel-title") Panel title
					div(class="panel-body") Panel content
			
			div(class="col-md-5 center-block no-float")
				div(class="panel panel-default")
					div(class="panel-heading")
						h3(class="panel-title") Panel title
					div(class="panel-body") Panel content
			
			div(class="col-md-5 center-block no-float")
				div(class="panel panel-default")
					div(class="panel-heading")
						h3(class="panel-title") Panel title
					div(class="panel-body") Panel content