extends layout

block content
	section(class="full-height text-center" id="main-content")
		div(class="data")
			div(class="col-md-3 center-block no-float")
				img(src="images/books.png" class="animated fadeIn")
				h1(class="pacifico big green animated fadeIn delay-1") My library
				br
				div(class="animated fadeInDown delay-2")
					h4 A Node.js web app for beginners!

				div(class="col-md-12 center-block no-float")
					div(class="center-block")
						
						a(href="/list") Book List
						&nbsp;&nbsp;&nbsp;
						a(href="/add") Add a book
						&nbsp;&nbsp;&nbsp;
						a(href="/about") About